<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace和mapper里面接口方法全限定名对应好就可以自动联系-->
<mapper namespace="com.lhf.dajiuye.own.mapper.SwiperDataMapper">
    <select id="getSwiperDataList" resultType="com.lhf.dajiuye.own.domain.SwiperData">
        select * from swiper
    </select>
    <select id="getcatItemsDataList" resultType="com.lhf.dajiuye.own.domain.CatItems">
        select * from index_cate
    </select>
</mapper>